.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

.navbar-light {
  padding: 0% 10%;
  border-bottom: 5px solid #000000;
}

.row {
  margin: 5% 0%;
}

.navbar-light .navbar-brand {
  color: #ffffff;
  font-family: "Times New Roman", Arial, Helvetica;
  font-size: 24pt;
  background-color: #0901a5;
  padding: 10px 40px;
}

.navbar-light .navbar-brand:hover {
  color: #ffffff;
}

/* The code styles the text at the bottom of the footer */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #0901a5;
  border-top: 5px solid #000000;
  text-align: center;
  font-size: small;
  color: white;
}